body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#meme-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#text-input {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

#meme-insert {
  display: block;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  background: white;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#meme-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#meme-image-container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#meme-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#meme-text {
  font-family: impact;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  margin: 5px;
  text-align: center;
  z-index: 1;
}

#meme-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#meme-1, #meme-2, #meme-3, #meme-4 {
  width: 50px;
  height: 50px;
}